@{
    ViewBag.Title = "Index";
}

<h2>Bonjour @Session["user_name"]</h2>

<<<<<<< HEAD
<div class="Page-Connexion">
    <H2>
        Bonjour nomuser
    </H2>
    @Html.ActionLink("QUIZ", "Index", "QuizManager", new { area = "" }, new { @class = "navbar-brand" })
</div>
=======
>>>>>>> 8921967022a046197d837e798133eeeab3b2ed14

@Html.ActionLink("QUIZ", "Index", "QuizManager", new { area = "" }, new { @class = "navbar-brand" })