
@{
    ViewBag.Title = "Quiz";
}

<h2>QCM</h2>

@using (Html.BeginForm("Start", "QuizManager", FormMethod.Post))
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @*@Messages.QuizChoice*@ Choisir votre quiz
            <div class="col-md-10">
                @Html.DropDownList("SelectedQuizId",
                                  @ViewData["QuizList"] as SelectList,
                                  "-- select --",
                                  new { @class = "form-control selectpicker" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Démarrer" class="btn btn-default" />
               </div>
        </div>
    </div>
}



