@{
    ViewBag.Title = "Result";
}
<<<<<<< HEAD
<div class="Page-Connexion">
    <h2>Score= @Session["score"]</h2>
</div>
=======

<h2>Resultat = @Session["score"] </h2>

>>>>>>> 8921967022a046197d837e798133eeeab3b2ed14
